<%- include("header") -%>

<h1>welcome to about page</h1>
<p>hdadalkdksjdklfjslfj sflsjflsj jsljfljs sjlfjl s sjlfjslj sjflsjkjslfl sjlsj slsjl sjflsl lsjlfjl lsjfljsls sjlfjslfj
    sjflsjls ljflsjlsjfls ls</p>
<%- include("header") -%>